ESBTestCP/web/WEB-INF/wsdl/localhost_8080/ESBTestCP/SimulationReqWSService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><xs:schema xmlns:tns="http://simulation/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://simulation/">

<xs:element name="Requestoperation" type="tns:Requestoperation"></xs:element>

<xs:element name="RequestoperationResponse" type="tns:RequestoperationResponse"></xs:element>

<xs:complexType name="Requestoperation">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="requestType" type="xs:unsignedShort"></xs:element>
<xs:element name="requestData" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RequestoperationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>