ESBTestCP/src/conf/xml-resources/web-service-references/SimulationWSService/wsdl/localhost_8080/ESBTestCP/SimulationWSService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><xs:schema xmlns:tns="http://simulation/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://simulation/">

<xs:element name="requestOperation" type="tns:requestOperation"></xs:element>

<xs:element name="requestOperationResponse" type="tns:requestOperationResponse"></xs:element>

<xs:complexType name="requestOperation">
<xs:sequence>
<xs:element name="agentId" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="requestId" type="xs:int"></xs:element>
<xs:element name="requestData" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="respTime" type="xs:int"></xs:element>
<xs:element name="respSize" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="requestOperationResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>